--find-links https://download.pytorch.org/whl/torch_stable.html
blobfile
pyYaml
tqdm
scikit-image
lpips
git+https://github.com/openai/CLIP.git
image-reward
hpsv2
numpy
Pillow
diffusers[torch]==0.16.0
huggingface-hub==0.24.0
torch==1.12.1+cu116 
torchvision==0.13.1+cu116 
torchaudio==0.12.1
torchmetrics
open-clip-torch
opencv-python
pandas
